@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button,
  textarea {
    appearance: none;
    -webkit-appearance: none !important;
    outline: none;
  }

  a,
  button {
    @apply focus:outline-none focus:ring-2 focus:ring-primary;
  }
}
